<section class="bridge">
    <div class="container">
        <h1 class="bridge__title">Bridging The Gap <br> with Local Footballers</h1>
        <div class="row">
            {{collection:bridge_the_gap paginate="6" as="posts" }}

            {{if no_results}}
            <p>Aww, there are no results.</p>
            {{/if}}

            {{posts}}
            <div class="col-12 {{layout_size}} mb-5">
                <div class="bridge__card">
                    <img alt="" class="bridge__img" data-lity src="{{image:url}}">
                    <div class="bridge__name">
                        {{title}}
                    </div>
                </div>
            </div>
            {{/posts}}

            {{paginate}}
            <nav aria-label="...">
                <ul class="pagination">
                    {{ if prev_page }}
                    <li class="page-item">
                        <a class="page-link" href="{{ prev_page }}">Previous</a>
                    </li>
                    {{ else }}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {{ /if }}
                    {{ links:segments }}

                    {{ first }}
                    {{ if page == current_page }}
                    <li aria-current="page" class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {{ else }}
                    <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                    {{ /first }}

                    {{ if slider }}
                    <li class="disabled"><span>...</span></li>
                    {{ /if }}

                    {{ slider }}
                    {{ if page == current_page }}
                    <li aria-current="page" class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {{ else }}
                    <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                    {{ /slider }}

                    {{ if slider || (!slider && last) }}
                    <li class="disabled"><span>...</span></li>
                    {{ /if }}

                    {{ last }}
                    {{ if page == current_page }}
                    <li aria-current="page" class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {{ else }}
                    <li class="page-item"><a class="page-link" href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                    {{ /last }}
                    {{/links:segments }}
                    {{ if next_page }}
                    <li class="page-item">
                        <a class="page-link" href="{{ next_page }}">Next</a>
                    </li>
                    {{ else }}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    {{ /if }}
                </ul>
            </nav>
            {{/paginate}}

            {{/collection:bridge_the_gap}}
        </div>
    </div>

</section>
