<section class="credit">
    <div class="container">
        <h2 class="credit__title">Credit List</h2>
        <ol>
            <li>
                <a href="https://www.flaticon.com/free-icons/menu" title="menu icons">Menu icons created by Febrian
                    Hidayat -
                    Flaticon</a>
            </li>
            <li>
                <a href="https://www.flaticon.com/free-icons/gmail" title="gmail icons">Gmail icons created by Pixel
                    perfect -
                    Flaticon</a>
            </li>
            <li><a href="https://www.flaticon.com/free-icons/call" title="call icons">Call icons created by DinosoftLabs
                -
                Flaticon</a></li>
            <li><a href="https://www.flaticon.com/free-icons/facebook" title="facebook icons">Facebook icons created by
                Fathema
                Khanom - Flaticon</a></li>
            <li><a href="https://www.flaticon.com/free-icons/instagram" title="instagram icons">Instagram icons created
                by Pixel
                perfect - Flaticon</a></li>
            <li><a href="https://lynnx.io">Website Developed by Lynnx Digital Enterprise</a></li>
        </ol>
    </div>
</section>
