<section class="actions">
    <div class="container">
        <div class="actions__title">Actions</div>
        <div class="actions__description">Actions inside Flair Football Academy</div>

    </div>
    <div aria-label="Actions Slider" class="splide" id="slider2" role="group">
        <div class="splide__track">
            <ul class="splide__list">
                {{actions:youtube}}
                <li class="splide__slide">
                    <a aria-label="youtube video" data-lity href="{{link}}">
                        <div class="youtubeFrame">
                            <img alt="" class="youtubeFrame__thumbnail"
                                 src="{{thumbnail}}">
                            <img alt="" class="youtubeFrame__playButton" src="assets/youtube-play-button.png">
                        </div>
                    </a>
                </li>
                {{/actions:youtube}}
            </ul>
        </div>
    </div>
</section>
