<section class="actions">
    <div class="container">
        <div class="actions__title">Actions</div>
        <div class="actions__description">Actions inside Flair Football Academy</div>
        <div aria-label="Splide Basic HTML Example" class="splide" id="slider2" role="group">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <a data-lity href="https://www.youtube.com/watch?v=XSGBVzeBUbk" aria-label="youtube video">
                            <div class="youtubeFrame">
                                <img alt="" class="youtubeFrame__thumbnail" src="assets/youtube-placeholder.png">
                                <img alt="" class="youtubeFrame__playButton" src="assets/youtube-play-button.png">
                            </div>
                        </a>
                    </li>
                    <li class="splide__slide"><a data-lity href="https://www.youtube.com/watch?v=XSGBVzeBUbk" aria-label="youtube video">
                        <div class="youtubeFrame">
                            <img alt="" class="youtubeFrame__thumbnail" src="assets/youtube-placeholder.png">
                            <img alt="" class="youtubeFrame__playButton" src="assets/youtube-play-button.png">
                        </div>
                    </a></li>
                    <li class="splide__slide"><a data-lity href="https://www.youtube.com/watch?v=XSGBVzeBUbk" aria-label="youtube video">
                        <div class="youtubeFrame">
                            <img alt="" class="youtubeFrame__thumbnail" src="assets/youtube-placeholder.png">
                            <img alt="" class="youtubeFrame__playButton" src="assets/youtube-play-button.png">
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
