<section class="ambassadors">
    <div class="container">
        <h2 class="ambassadors__title">Our Ambassadors</h2>
        <div class="row">
            {{ambassadors}}
            {{info}}
            <div class="col-12 col-md-3">
                <div class="ambassadors__card ">
                    <img alt="" class="ambassadors__img" src="{{image:url}}">
                    <div class="ambassadors__info">
                        <h3 class="ambassadors__name">{{name}}</h3>
                        <p class="ambassadors__description">{{description}}</p>
                    </div>
                </div>
            </div>
            {{/info}}
            {{/ambassadors}}
        </div>
    </div>
</section>
