<section class="coaches">
    <div class="container">
        <h2 class="title">
            Meet the Coaches
        </h2>
        <div aria-label="Splide Basic HTML Example" class="splide" role="group" id="slider1">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div class="card">
                            <img alt="" class="card__img" data-splide-lazy="assets/meet-our-coaches/1.jpg">
                            <div class="card__content">
                                <div class="card__name">Coaches 1</div>
                                <div class="card__description">4 years of coaching</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img alt="" class="card__img" data-splide-lazy="assets/meet-our-coaches/2.jpg">
                            <div class="card__content">
                                <div class="card__name">Coaches 1</div>
                                <div class="card__description">4 years of coaching</div>
                            </div>
                        </div>
                    </li>
                    <li class="splide__slide">
                        <div class="card">
                            <img alt="" class="card__img" data-splide-lazy="assets/meet-our-coaches/3.jpg">
                            <div class="card__content">
                                <div class="card__name">Coaches 1</div>
                                <div class="card__description">4 years of coaching</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
