<section class="coaches">
    <div class="container">
        <h2 class="title">
            Meet the Coaches
        </h2>
        <div aria-label="Coaches Slider" class="splide" id="slider1" role="group">
            <div class="splide__track">
                <ul class="splide__list">
                    {{coaches}}
                    {{info}}
                    <li class="splide__slide">
                        <div class="card">
                            <img alt="" class="card__img" data-splide-lazy="{{image:url}}">
                            <div class="card__content">
                                <div class="card__name">{{name}}</div>
                                <div class="card__description">{{description}}</div>
                            </div>
                        </div>
                    </li>
                    {{/info}}
                    {{/coaches}}
                </ul>
            </div>
        </div>
    </div>
</section>
