<section class="contactUs">
    <div class="contactUs__header">
        Contact Us
    </div>
    <div class="container">
        <div class="contactUs__container">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-5">
                    <div class="contactUs__title">
                        Let's Talk
                    </div>
                    <div class="contactUs__subtitle">
                        For collaboration/sponsorship/enquiries <br>
                        Give us a message!
                    </div>
                </div>
                <div class="col-12 col-md-7">
                    {{ form:contact_us }}
                    {{ if success }}
                        <div class="alert alert-success p-2" role="alert">
                            {{ success }}
                        </div>
                    {{ else }}
                        {{ if errors }}
                            <div class="alert alert-danger p-2" role="alert">
                                {{ errors }}
                                    {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}
                
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4">
                                <input class="form-control" placeholder="Name" type="text" name="name" required>
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <input class="form-control" placeholder="Email" type="email" name="email" required>
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <input class="form-control" placeholder="Phone Number" type="tel" name="phone_number">
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <input class="form-control" placeholder="Subject" type="text" name="subject">
                            </div>
                            <div class="col-12 mb-4">
                                <textarea class="form-control" placeholder="Your Message" rows="5" type="text" name="send_message"></textarea>
                            </div>
                        </div>

                        <input type="text" class="visually-hidden" name="{{ honeypot ?? 'honeypot' }}">
                
                        <button class="contactUs__button mx-lg-auto" type="submit">Submit</button>
                    {{ /if }}
                
                {{ /form:contact_us }}
                </div>
            </div>
        </div>
    </div>
</section>
