<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img class="footer__logo" src="{{ glide src='assets/flair-logo.png' width='200'}}" alt="">
                <div class="footer__companyName">Flairsports SG (743219923)</div>
                <div class="footer__address">KL Utama, Tingkat Bawah
                    Bangunan KWSP, Jalan Raja Laut
                    50350 Kuala Lumpu
                </div>
            </div>
            <div class="col-12 col-md-6">
                <a class="footer__link" href="">
                    <img alt="" src="assets/footer/gmail.svg">
                    <div class="footer__linkText">admin@flairsports.sg</div>
                </a>
                <a class="footer__link" href="">
                    <img alt="" src="assets/footer/facebook.svg">
                    <div class="footer__linkText">Flairsports.sg</div>
                </a>
                <a class="footer__link" href="">
                    <img alt="" src="assets/footer/instagram.svg">
                    <div class="footer__linkText">@flairsports.sg</div>
                </a>
                <a class="footer__link" href="">
                    <img alt="" src="assets/footer/phone-call.svg">
                    <div class="footer__linkText">+603-2698 8213</div>
                </a>
            </div>
        </div>
        <div class="row text-center mt-5">
            <p class="text-muted">Copyright © 2022 Lynnx Digital Enterprise</p>
        </div>
    </div>
</section>
