<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img alt="" class="footer__logo" src="{{ glide src='assets/flair-logo.png' width='200'}}">
                <div class="footer__companyName">Flairsports SG (743219923)</div>
                <div class="footer__address">Woodlands Uber Sports,
                    200 Woodlands Industrial Park E7 <br> Woodlands Recreation Centre, S(757177)
                </div>
            </div>
            <div class="col-12 col-md-6">
                <a class="footer__link" href="mail:ibrahim@flairsports.sg">
                    <img alt="" src="assets/footer/gmail.svg">
                    <div class="footer__linkText">ibrahim@flairsports.sg</div>
                </a>
                <a class="footer__link" href="https://www.facebook.com/flairfootballacademy/">
                    <img alt="" src="assets/footer/facebook.svg">
                    <div class="footer__linkText">Flairsports.sg</div>
                </a>
                <a class="footer__link" href="https://www.instagram.com/flairfootballacademy/?hl=en">
                    <img alt="" src="assets/footer/instagram.svg">
                    <div class="footer__linkText">@flairsports.sg</div>
                </a>
                <a class="footer__link" href="tel:+603-2698 8213">
                    <img alt="" src="assets/footer/phone-call.svg">
                    <div class="footer__linkText">+603-2698 8213</div>
                </a>
            </div>
        </div>
        <div class="row text-center mt-5">
            <p class="text-white">Copyright © 2022 Flair Football Academy. <br> All Right Reserved. <a
                    href="{{site:url}}credit"> Credit</a></p>
        </div>
    </div>
</section>
