<section class="founder">
    <div class="container">
        <div class="founder__container">
            <div class="container">
                <div class="card">
                    <div class="card__title">
                        Our Founder
                    </div>
                    <div class="card__description">
                        Ibrahim Chemad pride on the motto, “Never Settle, Never Quit”. As a former police officer
                        officer
                        for 8
                        years and an ex Semi Pro footballer, he believes in not settling being sufficient but to go
                        above
                        and
                        beyond.
                    </div>
                </div>
                <div class="card card--2">
                    <div class="card__description">The academy staffs and players are equipped with the same motto and
                        the
                        goal
                        is to equip a kid being a good footballer but a better citizen in the future
                    </div>
                </div>
            </div>
            <img alt="" class="founder__image" src="assets/founder/founder.png">
        </div>
    </div>
</section>
