<section class="location">
    <div class="container">
        <h2 class="location__title">
            Training Location & Schedule
        </h2>
        <h3 class="location__subtitle">
            Our training location
        </h3>
        <div class="location__card mb-3em">
            <img class="location__img" src="assets/location-schedule/orto.jpg" alt="">
            <div class="location__name">ORTO Yishun</div>
            <div class="location__time">
                Sat & Sun: Under 6 (830am - 930am) <br>
                Sat & Sun: Under 9 (930am - 11am) <br>
                Sun: Under 12 - 16 (11am - 1230pm)
            </div>
        </div>
        <div class="location__card">
            <img class="location__img" src="assets/location-schedule/riv.jpg" alt="">
            <div class="location__name">Pasir Ris Active SG</div>
            <div class="location__time">
                Sat & Sun: Under 6 (830am - 930am) <br>
                Sat & Sun: Under 9 (930am - 11am) <br>
                Sun: Under 12 - 16 (11am - 1230pm)
            </div>
        </div>
    </div>
</section>
