<section class="location">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 order-md-1">
                <div class="location__contentBox">
                    <h2 class="location__title">
                        Training Location & Schedule
                    </h2>
                    <h3 class="location__subtitle">
                        Our training location
                    </h3>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-0">
                <div class="location__card mb-3em">
                    <img alt="" class="location__img" src="assets/location-schedule/orto.jpg">
                    <div class="location__name">ORTO Yishun</div>
                    <div class="location__time">
                        Sat & Sun: Under 6 (830am - 930am) <br>
                        Sat & Sun: Under 9 (930am - 11am) <br>
                        Sun: Under 12 - 16 (11am - 1230pm)
                    </div>
                </div>
                <div class="location__card">
                    <img alt="" class="location__img" src="assets/location-schedule/riv.jpg">
                    <div class="location__name">Pasir Ris Active SG</div>
                    <div class="location__time">
                        Sat & Sun: Under 6 (830am - 930am) <br>
                        Sat & Sun: Under 9 (930am - 11am) <br>
                        Sun: Under 12 - 16 (11am - 1230pm)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
