<section class="welcome">
    <div class="welcome__position">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6">
                    <div class="welcomeCard">
                        <div class="welcomeCard__smallTitle">Welcome to Flair</div>
                        <div class="welcomeCard__bigTitle">Football<br>
                            <span class="welcomeCard__bigTitle--2">
                                Academy</span>
                        </div>
                        <div class="welcomeCard__description">
                            Flair Football Academy is built on the purpose of providing a platform to <span
                                class="welcomeCard__description--pink">all kids and youths</span> to
                            enjoy the game of football. Our mission is to keep kids off the street and into the field.
                            At
                            Flair Football Academy, we provide affordable rates for our quality football sessions
                            rendered
                            by our team of coaches.
                        </div>
                        <div class="welcomeCard__logoPosition">
                            <img alt="" src="{{ glide src='assets/flair-logo.png' width='250' }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
