@use "../abstracts" as abs;

.footer {
  background-color: abs.$dark;
  color: abs.$white;
  padding: 3em 2em;

  &__companyName {
    font-family: abs.$font-family-primary;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  &__address {
    font-family: abs.$font-family-secondary;
    font-size: abs.$font-size-secondary;
  }

  &__link {
    display: flex;
    place-items: center;
    text-decoration: none;
    padding-top: 1em;

    @include abs.min-bp(lg) {
      padding-left: 20%;
    }

    img {
      width: 2em;
    }
  }

  &__linkText {
    padding-left: 1em;
    color: abs.$white;
    font-weight: abs.$font-family-primary;
    font-size: 1.3em;
  }

  &__logo {
    @include abs.min-bp(lg) {
      margin-bottom: 1em
    }
  }
}
