@use "../abstracts" as abs;

.founder {
  background-image: url("../../assets/founder-bg-image-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 5em;
  height: 1100px;

  .card {
    background: #002448;
    box-shadow: abs.$shadow-primary;
    border-radius: 10px;
    color: abs.$white;
    padding: 1em;
    border-left: abs.$pink 15px solid;
    margin-bottom: 2em;

    &__title {
      color: abs.$white;
      font-size: abs.$font-size-primary;
      margin-bottom: 0.3em;
      font-weight: bold;
    }

    &__description {
      color: abs.$white;
      font-size: abs.$font-size-secondary;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}
