@use "../abstracts" as abs;

.team {
  padding: 10em 2em;
  background-color: abs.$blue;

  &__title {
    color: abs.$white;
    font-size: abs.$font-size-primary;
    font-weight: bold;
    font-family: abs.$font-family-primary;
    margin-bottom: 1em;
  }

  &__card {
    background-color: abs.$white;
    border-radius: abs.$border-radius-primary;
    border-bottom: abs.$pink 5px solid;
    height: 25vh;
    position: relative;
    overflow: hidden;
    box-shadow: abs.$shadow-primary;
    @include abs.min-bp(md) {
      height: 100%;
    }

  }

  &__img {
    max-width: 100%;
    width: 100%;
    height: 100%;
  }

  &__name {
    color: abs.$white;
    font-size: 0.9em;
    text-align: center;
    opacity: 0.8;
    padding-top: 0.5em;
    margin-bottom: 1em;
  }

  &__no {
    color: abs.$white;
    font-family: abs.$font-family-primary;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    background-color: abs.$blue;
    border-radius: abs.$border-radius-primary;
    padding: 0 11px;
    margin: 10px;
  }

  &__ribbon {
    background-color: abs.$red;
    color: abs.$white;
    font-size: abs.$font-size-secondary;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2em;
    text-align: center;
    transform: translateY(-100%) rotate(90deg) translateX(70.71067811865476%) rotate(-45deg);
    transform-origin: bottom right;
  }

}
