//Color
$blue: #002448;
$white: #fbfbfd;
$pink: #ED4D8D;
$black: #000000;
$grey: #333333;

//shadow
$shadow-primary: rgba(0, 0, 0, 0.3) 0 2px 3px;

//font-size
$font-size-primary: 3em;
$font-size-secondary: 1.2em;

//font-family
$font-family-primary: "montserrat", sans-serif;
$font-family-secondary: "couriernew", sans-serif;
$font-family-inter: "inter", sans-serif;
